.absolute {
  position: absolute;
  top: 175px;
  left: 50px;
  width: 100px;
  height: 100px;
}
#droppable_absolute {
  left: auto;
  right: 50px;
}
#droppable_nested_parent {
  left: auto;
  right: 175px;
}
#droppable_nested_child {
  position: absolute;
  top: 15px;
  left: 15px;
  bottom: 15px;
  right: 15px;
  border: 1px solid rgba(0, 0, 255, 0.1);
}
.fixed {
  position: fixed;
  top: 175px;
  left: 250px;
  width: 100px;
  height: 100px;
}

.ui-draggable {
  background-color: red;
}
.ui-draggable-dragging {
  background-color: green;
}
.ui-draggable, .ui-draggable-dragging {
  z-index: 20;
}

.ui-droppable {
  background-color: lightblue;
  z-index: 10;
}
.ui-droppable-hovered {
  background-color: blue;
}

.funhouse {
  transform-origin: 20% 40%;
  -webkit-transform-origin: 20% 40%;
  -moz-transform-origin: 20% 40%;
  -o-transform-origin: 20% 40%;
  -ms-transform-origin: 20% 40%;

  transform: rotate(10deg) scale(0.45) skew(20deg) translate(100px);
  -webkit-transform: rotate(10deg) scale(0.45) skew(20deg) translate(100px);
  -moz-transform: rotate(10deg) scale(0.45) skew(20deg) translate(100px);
  -o-transform: rotate(10deg) scale(0.45) skew(20deg) translate(100px);
  -ms-transform: rotate(10deg) scale(0.45) skew(20deg) translate(100px);

  width: 400px;
  height: 400px;
  overflow: auto;
}

.funhouse .ui-droppable {
	top: 50px;
}
